
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="form-group">
    <label class="control-label col-md-2">Этап 1</label>

    <div class="col-md-10 row">
        <input id="Step1" class="form-control col-md-10" type="text" />
        <input class="btn btn-default" type="button" value="  +  " onclick="addQuestion()" />
    </div>
</div>